$c-black: #000000;
$c-white: #FFFFFF;
$c-darksome: #555555;
$c-gray: #bbb;
$c-dark-red: #A94442;
$c-blue: #2196F3;

$c-drop-zone: $c-gray;
$c-error-text: $c-dark-red;

$c-modal-info-bg: $c-blue;
$c-modal-error-bg: $c-dark-red;
$c-modal-info-text: $c-white;
$c-modal-error-text: $c-white;

$c-bg-substrate: rgba($c-white, 0.74902);
